<form action="/characters/search" method="post">
  <div class="field">
    <label for="title">title</label>
    <input type="text" name="title" placeholder="Escribe el nombre de un personaje" />
  </div>

  <div class="field">
    <input type="submit" name="create" value="Create" />
  </div>
</form>
