<form action="/characters/search" method="post">
  <div class="field">
    <input type="text" name="name" placeholder="Escribe el nombre de un personaje" />
  </div>

  <div class="field">
    <input type="submit" name="create" value="Buscar" />
  </div>
</form>
