<head>
  <title>IMBD Ripoff</title>
  <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
</head>

<table>
  <tr>
    <td>Cosa1</td>
    <td>Cosa2</td>
  </tr>
  <tr>
    <td>Cosa3</td>
    <td>Cosa4</td>
  </tr>
  <% episodes.forEach(ep => { %>
    <tr>
      <td><%= ep.episode_id %></td>
      <td><%= ep.title %></td>
    </tr>
  <% })%>
</table>
